@import 'tailwindcss';

@theme {
  --color-primary: #003c73;
  --color-background: #F8F9FA;
  --color-surface: #ffffff;
  --color-on-surface: #1a1c1d;
  --font-family-headline: 'Inter', sans-serif;
  --font-family-body: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
